body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    position: fixed;
    width: 100%;
    align: front;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 2em auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.carousel-container {
    display: flex;
}

.carousel-slide {
    min-width: 100%;
    transition: 0.5s ease;
}

.carousel-slide img {
    width: 100%;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1em;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

#about, #products, #contact {
    padding: 2em;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

right{
    float: right;
    margin-left: 4cm;
}
